.marker {
    width: 30px;
    height: 45px;
}

.marker__container{
    position: relative;
    top: -4px;

    & > * {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
    }
}

.marker__background{
    top: 0px;
}

.marker__glyph{
    top: 6px;
}

.marker__icon{
    top: 10px;
}