.ImageIcon{    
    aspect-ratio: 1/1;
    object-fit: cover;
}

.ImageIcon--medium {     
    width: 24px;
}

.ImageIcon--large {     
    /* width: 30px; */
    width: 40px;
    height: 40px;
}

.ImageIcon--xlarge {     
    /* width: 30px; */
    width: 96px;
    height: 96px;
}