/*  index.css 
    기본 css */

:root {
    /* Margins */
    --column-padding: 24px;
    --column-padding-sm: 16px;

    --gap: 24px;
    --gap-sm: 8px;
    --gap-lg: 32px;

    --gutter-xs: 8px;
    --gutter-sm: 16px;
    --gutter-xl: 30px;
    --gutter-2xl: 48px;

    --fab-height: 88px;
    
    --margin-x: 24px;
    --margin-x--small: 16px;
    --margin-x--xsmall: 8px;
    --margin-x--large: 32px;

    --margin-top--small: 0.4em;
    --margin-top: 1.2em;
    --margin-top--large: 1.6em;
    --margin-top--xlarge: 2em;

    /* Heights */
    --appbar-height: 48px;
    --topnav-height: 100px;

    /* Profile Widths */
    --width__profile: 40px;
    --width__profile--large: 56px;
    --width__profile--xlarge: 56px;
    --width__profile__content--small: 36px;
    --width__profile__content--medium: 44px;
    --border-radius--small: 12px;

    --min-height__window: 640px;

    --theme-color-gray-main: #F2F4F6;
}

#root {
    position: relative;
    z-index: 0;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

* {    
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-optical-sizing: auto;
    margin: 0;    
    padding: 0;
    word-break: keep-all;
    letter-spacing: -.05em;    
    /* Debug */
    /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
main {
    white-space: pre-line;
    word-break: keep-all;
}

p {
    color: rgb(98, 98, 98)
}


/* p:after {
    content: "";
    display: inline-block;
} */

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: 'contain';
    width: '100%';
    height: '100%';
}

/* flex */
.flex {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.flex-end,
.flex-end.MuiCardActionArea-root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

/* State */
.disabled {

    &,
    &.MuiListItem-root {
        opacity: 0.5;
    }
}

.fill-window {
    &,
    &.MuiPaper-root {
        height: 100dvh;
        min-height: var(--min-height__window);
        /* height: -webkit-fill-available;
        height: fill-available; */
    }
}

.fill-body {
    min-height: calc(100dvh - var(--appbar-height) - var(--fab-height))
}

/**** Block ****/

/* Container */
.MuiContainer-root {
    &.gutter-xs {
        padding-left: var(--gutter-xs);
        padding-right: var(--gutter-xs);         
    }
    &.gutter-sm {
        padding-left: var(--gutter-sm);
        padding-right: var(--gutter-sm);         
    }
    &.gutter-xl {
        padding-left: var(--gutter-xl);
        padding-right: var(--gutter-xl);         
    }
    &.gutter-2xl {
        padding-left: var(--gutter-2xl);
        padding-right: var(--gutter-2xl);         
    }
    &.column-padding {
        padding-top: var(--column-padding);
        padding-bottom: var(--column-padding);       
    }
    &.column-padding-sm {
        padding-top: var(--column-padding-sm);
        padding-bottom: var(--column-padding-sm);       
    }
}

.page {
    width: 100vw;
    max-width: 100%;
}

.block--round {
    border-radius: 16px;
}

.block--large {
    height: 128px;
    width: 100%
}

.block--width-large {
    max-width: 220px;
}

.block--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.full {
    width: 100%;
    height: 100%;
}

.content {
    &,
    &.MuiListItemButton-root,
    &.MuiStack-root,
    &.MuiContainer-root {
        /* margin-top: var(--gap); */
        display: flex;
        flex-direction: column;
        gap: var(--gap);        
    }
}

.content--sparse {
    &,
    &.MuiListItemButton-root,
    &.MuiStack-root,
    &.MuiContainer-root {
        gap: var(--gap-lg);        
    }
}

.content--dense {
    &,
    &.MuiListItemButton-root,
    &.MuiStack-root,
    &.MuiContainer-root  {
        gap: var(--gap-sm);  
    }
}

.floating--bottom {
    position: fixed;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    bottom: 0;
}

/* Image */
.title-image {
    height: 192px;
}

/* Section */
.section-header {
    margin-bottom: 15px;

    &>p {
        font-size: 14px;
        line-height: 16px;
        margin-top: 4px;
        color: rgb(98, 98, 98)
    }
}
.section-header--sm {
    margin-bottom: 12px;
}

.section-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -.5px;
}

.section-title--sm {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #666;
}

.list-item-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.article {
    font-size: 16px;
    line-height: 160%;
}

.color-gray {
    color: #666;
}

.typography-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #2e3033;
}

.typography-highlight {
    &,
    &>p,
    .MuiTextField-root>& {
        font-weight: 700;
    }
}

.typography-article {
    /* font-size: 17px; */
}

.typography-note,
.typography-note.MuiButton-text.MuiButtonBase-root,
.typography-note>p {
    font-size: 12px;
    line-height: 1.6;
    font-weight: 400;
    color: #666
}

.typography-note--small {
    font-size: 11px;
}


.typography--profile-label,
.typography--profile-label>p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.typography--profile-label--active,
.typography--profile-label--active>p {
    font-size: 12px;
    font-weight: 700;
}


/**** Components ****/

/*** Material UI ***/
.MuiAccordion-root.MuiPaper-root {
    &::before {
        opacity: 0;
    }
    &,
    &:first-of-type,
    &:last-of-type {
        border-radius: 16px;
        padding-top: var(--margin-top--small);
        padding-bottom: var(--margin-top--small);
    }
}

.MuiAvatar-root {
    &>* {
        color: inherit;
    }
}

.MuiAvatar-contained,
.MuiAvatar-outlined {
    &.MuiAvatar-root {
        border-radius: 16px;
    }
}

.MuiButton-root {
    & .MuiButtonBase-root {
        &:hover {
            background-color: inherit;
        }
    }
}

.MuiCardActionArea-root {
    height: 100%;
}

.MuiCardContent-root {
    text-align: initial;
}

.MuiChip-filledPrimary {
    font-weight: 700;
}

.MuiListItemAvatar-root {
    display: flex;
}

.MuiStack-root {

    &>.MuiAvatar-root,
    &>*>.MuiAvatar-root {
        outline-style: solid;
        outline-width: 2px;
        outline-color: white;
    }
}

.MuiTextField-root {
    & .MuiInput-input {
        text-align: center;
    }
}

.MuiToggleButton-root {

    &.MuiButtonBase-root,
    &.MuiButtonBase-root.Mui-disabled {
        padding: 0;
        border-radius: 0;
        border-width: 0;
    }
}

.MuiToolbar-root {
    /* height: var(--appbar-height);
    margin-left: var(--margin-x);
    margin-right: var(--margin-x); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MuiSlider-markLabel {
    transform: translateX(-64px);
    position: absolute;
}

/*** Trip Chemistry ***/
.fab__container.MuiContainer-root {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1) 20%, white);
}

.fab-placeholder {
    visibility: hidden;
    height: var(--fab-height);
}

.fab-placeholder--no-margin {
    height: 72px;
}

.main-action-button {
    &.MuiButton-root,
    &.MuiButtonBase-root{
        width: 100%;
    }
}

/* ImageCard */
.ImageCard.MuiCard-root {
    & * {
        color: rgba(250, 250, 250);
    }
}

/* NoticeBlock */
.NoticeBlock__image {
    width: 256px;
    height: 256px;
}

/* LazyImage */
.LazyImage__container {
    width: 100%;
    height: 100%;
}

/* ScrollPageContainer */
.ScrollPageContainer {
    position: relative;
    width: 100%;
}

.ScrollPageContainer__viewport-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.ScrollPageContainer__viewport {
    position: sticky;
    top: 0;
}

/* ScrollPageItem */
.ScrollPageItem {
    position: absolute;
    top: 0;
    width: 100%;
}

/* Logo */
.Logo {
}

.Logo--medium {
    height: 32px;
}

.Logo--small {
    height: 16px;
}

/* flag */
.Flag {
    &.Flag--outlined {
        outline: 1px gray solid;
    }
}

.fi {
    outline-color: rgb(107, 118, 132);
    outline-width: 1px;
}

.fi {
    outline: 1px solid;
}

/* ToggleLabeledButton */
.ToggleLabeledButton__paper {
    display: flex;
    align-items: center;
    justify-content: center;

    &.ToggleLabeledButton__paper--small {
        border-radius: var(--border-radius--small);
        width: var(--width__profile__content--small);
        height: var(--width__profile__content--small);
    }

    &.ToggleLabeledButton__paper--medium {
        border-radius: 16px;
        width: var(--width__profile__content--medium);
        height: var(--width__profile__content--medium);
    }
}

/* Label */
.Label {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.Label__label--medium {
    width: var(--width__profile);
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
}

.Label__label--large {
    width: var(--width__profile--large);
    /* line-height: 1.4; */
    overflow-wrap: anywhere;
    margin-top: 4px;
}

/**** Content ****/

/* TestContent */
.typography-test-answer {
    text-align: center;
    font-size: 16px;
}

/* Google Map */
.google-map__container {
    width: 100%;
    height: 300px;
}

.place-card__title {
    font-weight: 700;
}

.place-card__body {
    font-size: 12px;
    line-height: 160%;
}

.modal__container {
    position: relative;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.75;
    z-index: 2;
}