/*  index.css 
    기본 css */
/* @import "./font.css";  */
/* @import "./pretendard-subset.css";  */
/* https://github.com/orioncactus/pretendard */
/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"); */
/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"); */

:root {
    /* Margins */
    --margin-x: 24px;
    --margin-x--small: 16px;
    --margin-x--xsmall: 8px;
    --margin-x--large: 32px;

    --margin-top--small: 0.4em;
    --margin-top: 1em;
    --margin-top--large: 1.6em;
    --margin-top--xlarge: 2em;

    /* Heights */
    --appbar-height: 48px;
    --topnav-height: 100px;

    /* Profile Widths */
    --width__profile: 40px;
    --width__profile--large: 56px;
    --width__profile--xlarge: 56px;
    --width__profile__content--small: 36px;
    --width__profile__content--medium: 44px;
    --border-radius--small: 12px;

    --min-height__window: 640px;

    --theme-color-gray-main: #F2F4F6;
}

* {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;

    /* Debug */
    /* outline: 1px solid red; */
}

/* p:after {
    content: "";
    display: inline-block;
} */

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: 'contain';
    width: '100%';
    height: '100%';
}

/* ( https://homepage.skcarrental.com/ ) */
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
    word-break: keep-all;
    white-space: pre-line;
    margin: 0;
    color: #50555c;
}

/* flex */
.flex {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.flex-end,
.flex-end.MuiCardActionArea-root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

/* State */
.disabled {
    &,
    &.MuiListItem-root {
        opacity: 0.5;
    }
}

.fill-window {
    &,
    &.MuiPaper-root{
        height: 100vh;
        min-height: var(--min-height__window);
    }
}

/**** Block ****/
.page {
    width: 100vw;
    max-width: 100%;
}

.block--round {
    border-radius: 16px;
}

.block--large {
    height: 128px;
    width: 100%
}

.block--width-large {
    max-width: 220px;
}

.wrapper {
    padding-top: var(--margin-top--large);
    padding-bottom: var(--margin-top--large);
    padding-left: var(--margin-x);
    padding-right: var(--margin-x);
}

.wrapper--small {
    padding-top: var(--margin-top);
    padding-bottom: var(--margin-top);
    padding-left: var(--margin-x--small);
    padding-right: var(--margin-x--small);
}

.block--with-margin,
.block--with-margin.MuiButton-root {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-top);
    margin-left: var(--margin-x);
    margin-right: var(--margin-x);
}

.block--with-margin--small {
    margin: var(--margin-x--small);
}

.block--with-margin--xsmall {
    margin: var(--margin-x--xsmall);
}

.block--with-margin--large,
.block--with-margin--large.MuiButton-root {
    margin-top: var(--margin-top--xlarge);
    margin-bottom: var(--margin-top--xlarge);
}

.block--with-margin-x,
.block--with-margin-x.MuiButton-root,
.block--with-margin-x.swiper {
    margin-left: var(--margin-x);
    margin-right: var(--margin-x);
}

.block--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.block--centered-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.full {
    width: 100%;
    height: 100%;
}

.content {

    &>:first-child,
    &>.MuiListItemButton-root:first-child,
    &>.MuiStack-root:first-child {
        margin-top: 0;
    }

    &>*,
    &>.MuiListItemButton-root,
    &>.MuiStack-root {
        margin-top: var(--margin-top);
    }

    &>.MuiButton-root {
        margin-top: var(--margin-top--large);
    }
}

.content--sparse {
    &>* {
        margin-top: var(--margin-top--xlarge);
    }
}

.content--narrow {
    &>*,
    &>.MuiListItemButton-root {
        margin-top: var(--margin-top--small);
    }
}

.floating--bottom {
    position: fixed;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    bottom: 0;
}

/* Image */
.title-image {
    height: 192px;
}

/**** Typography ****/
.typography-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #2e3033;
}

.typography-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #2e3033;
}

.typography-heading--secondary {
    font-size: 17px;
    font-weight: 700;
    color: #2e3033;
}

.typography-label {

    &,
    &>p,
    .MuiTextField-root>& {
        font-weight: 700;
    }
}

.typography-article {
    /* font-size: 17px; */
}

.typography-note,
.typography-note.MuiButton-text.MuiButtonBase-root,
.typography-note>p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}

.typography--profile-label,
.typography--profile-label>p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    /* color: #858B93; */
}

.typography--profile-label--active,
.typography--profile-label--active>p {
    font-size: 12px;
    font-weight: 700;
}


/**** Components ****/

/*** Material UI ***/
.MuiAccordion-root.MuiPaper-root {
    &::before {
        opacity: 0;
    }

    &,
    &:first-of-type,
    &:last-of-type {
        border-radius: 16px;
        padding-top: var(--margin-top--small);
        padding-bottom: var(--margin-top--small);
    }
}

.MuiAvatar-root {
    &>* {
        color: inherit;
    }
}

.MuiAvatar-contained,
.MuiAvatar-outlined {
    &.MuiAvatar-root {
        border-radius: 16px;
    }
}

.MuiButtonBase-root {
    display: block;
}

.MuiButton-root {

    & .MuiButtonBase-root {
        &:hover {
            background-color: inherit;
        }
    }
}

.MuiCardActionArea-root {
    height: 100%;
}

.MuiCardContent-root {
    text-align: initial;
}

.MuiChip-filledPrimary {
    font-weight: 700;
}

.MuiListItemAvatar-root {
    display: flex;
}

.MuiStack-root {

    &>.MuiAvatar-root,
    &>*>.MuiAvatar-root {
        outline-style: solid;
        outline-width: 2px;
        outline-color: white;
    }
}

.MuiTextField-root {
    & .MuiInput-input {
        text-align: center;
    }
}

.MuiToggleButton-root {

    &.MuiButtonBase-root,
    &.MuiButtonBase-root.Mui-disabled {
        padding: 0;
        border-radius: 0;
        border-width: 0;
    }
}

.MuiToolbar-root {
    /* height: var(--appbar-height);
    margin-left: var(--margin-x);
    margin-right: var(--margin-x); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MuiSlider-markLabel {
    transform: translateX(-64px);
    position: absolute;
}

/*** Trip Chemistry ***/
.fab {
    position: fixed;
    z-index: 100;
    width: 100vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1) 20%, white)
}

.fab__button.MuiButton-root {
    margin-top: var(--margin-top--large);
    margin-bottom: var(--margin-top--large);
    margin-left: var(--margin-x);
    margin-right: var(--margin-x);
}

.fab-placeholder {
    visibility: hidden;
    height: 72px;
}

.main-action-button.MuiButton-root {
    width: 100%;
}

/* ImageCard */
.ImageCard.MuiCard-root {
    & * {
        color: rgba(250, 250, 250);
    }
}

/* NoticeBlock */
.NoticeBlock__image {
    width: 256px;
    height: 256px;
}

/* LazyImage */
.LazyImage__container {
    width: 100%;
    height: 100%;
}

/* ScrollPageContainer */
.ScrollPageContainer {
    position: relative;
    width: 100%;
}

.ScrollPageContainer__viewport-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.ScrollPageContainer__viewport {
    position: sticky;
    top: 0;
}

/* ScrollPageItem */
.ScrollPageItem {
    position: absolute;
    top: 0;
    width: 100%;
}

/* Logo */
.Logo {
    /* width: auto; */
    /* object-fit: contain; */
}

.Logo--small {
    height: 1.6rem;
}

.Logo--medium {
    height: 2rem;
}

/* flag */
.Flag {
    &.Flag--outlined {
        outline: 1px gray solid;
    }
}

.fi {
    outline-color: rgb(107, 118, 132);
    outline-width: 1px;
}

.fi {
    outline: 1px solid;
}

/* ToggleLabeledButton */
.ToggleLabeledButton__paper {
    display: flex;
    align-items: center;
    justify-content: center;

    &.ToggleLabeledButton__paper--small {
        border-radius: var(--border-radius--small);
        width: var(--width__profile__content--small);
        height: var(--width__profile__content--small);
    }

    &.ToggleLabeledButton__paper--medium {
        border-radius: 16px;
        width: var(--width__profile__content--medium);
        height: var(--width__profile__content--medium);
    }
}

/* Label */
.Label {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.Label__label {
    /* background-color: antiquewhite; */
    /* position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content */
}

.Label__label--medium {
    width: var(--width__profile);
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
}

.Label__label--large {
    width: var(--width__profile--large);
    /* line-height: 1.4; */
    overflow-wrap: anywhere;
    margin-top: 4px;
}

/**** Content ****/

/* TestContent */
.typography-test-answer {
    text-align: center;
    font-size: x-large;
    color: rgb(107, 118, 132);
}

/* Google Map */
.google-map__container {
    width: 100%;
    height: 300px;
}

.modal__container {
    position: relative;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.75;
    z-index: 2;
}